<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">

 <!--   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css">
<link href="css/boilerplate.css" rel="stylesheet" type="text/css">
<link href="css/main-page.css" rel="stylesheet" type="text/css">
<link href="css/route-collapse-panel.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/navbar.css" rel="stylesheet" type="text/css">
<link href="css/spinner.css" rel="stylesheet" type="text/css">
<link href="css/angulartiles.css" rel="stylesheet" type="text/css">

<link href='https://fonts.googleapis.com/css?family=Raleway:900italic' rel='stylesheet' type='text/css'>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script> -->
<!-- <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" type="text/javascript"></script> 
<script language="javascript">
	$.mobile.hashListeningEnabled = false;
	$.mobile.ajaxLinksEnabled = false;
    $.mobile.ajaxEnabled = false;
   
 
</script>-->

<title>pickmeUP Web App</title>




    <!-- Latest compiled and minified CSS -->

    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAJIUO25e0eVzDR2ZSOfU8Bl8XVOdl3jk4&libraries=places,visualization" ></script>
    <script src="../jsx/wro-jquery.js"	type="text/javascript"></script>
	<script src="../jsx/wro.js"	type="text/javascript"></script>

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-cookies.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
	 
	<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script> -->
	
	
	<script language="javascript">
	$.mobile.hashListeningEnabled = false;
	$.mobile.ajaxLinksEnabled = false;
    $.mobile.ajaxEnabled = false;
    $(document).ready(function(){
    	    if (location.hash) {
    		        location.href = location.hash;
    		    }
    		});
 
</script>
	
	<!-- <script src="../jsx/wro.js"	type="text/javascript"></script>
	 <script src="../jsx/wro-angular-route.js"	type="text/javascript"></script>
	<script src="../jsx/wro-angular-cookies.js"	type="text/javascript"></script>
	<script src="../jsx/wro-angular-aria.js"	type="text/javascript"></script>
	<script src="../jsx/wro-angular-material.js"	type="text/javascript"></script>
	<script src="../jsx/wro-angular-animate.js"	type="text/javascript"></script>
	<script src="../jsx/wro-angular-ui-bootstrap.js"	type="text/javascript"></script> -->
    <script src="js/hello.js"></script>

    
    
 

    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map-canvas4 { width: 100%; height: 100%; }
    h1.ng-scope {
		    font-family:Arial, Helvetica, sans-serif;
		    color: #000000;
		}
	#mySaveModal h1, label.col-sm-2.control-label,label.col-md-4.control-label{
		    font-family:Arial, Helvetica, sans-serif;
		    font-size: 1em;
		    color: #3366ff;
		}
	#mySaveModal input{
		    font-family:Arial, Helvetica, sans-serif;
		    
		    color: #000000;
		}
	#mapnavbar{
		    font-family:Arial, Helvetica, sans-serif;
		    	    
			padding: 20px !important;
		}
	.demo-map{
		   display:block;
		    width: 100%; height: 100%;
		    margin-bottom:20px;
		}
		
		#42{
		    width:200px;
		    height:200px; 
		    border: 1px solid #333335;
		    margin-bottom:20px;
		}
		
	
    </style>
    
<script type="text/javascript">
    angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
</script>

</head>
<!-- <body ng-app="hello" onload="initialize()"> -->
<body ng-app="hello" data-ajax="false" class="bg" >

    <div ng-controller="navigation" ng-show="authenticated" class="navbar-default  ">

        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a type="button" class="navbar-right navbar-toggle collapsed"  data-toggle="collapse" data-target="#navbar" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="navbar-brand" ><span><strong style="color: #ffd119; font-size: 3em;">pickmeUP</strong></span></a>
            </div>
             <div class="container" >
        <!-- Brand and toggle get grouped for better mobile display -->

                 <div id="navbar" class="navbar-collapse collapse">
                     <ul class="nav nav-pills nav-justified" >
                        <li><a class="btn btn-sm" href="#">home</a> </li>
                        <li role="presentation" class="dropdown">
                           <a class="btn  dropdown-toggle btn-sm" data-toggle="dropdown" href="#/route" data-ajax="false" role="button" >routes<span class="caret"></span></a>
                        <ul class="dropdown-menu" >
                            <li><a  data-target="#myMapModal" class="btn-sm" data-toggle="modal">new route</a> </li>
                            <li><a class="btn-sm" href="#/sharedroutes">shared routes</a> </li>
                            <li><a class="btn-sm" href="/mqtt/login" data-rel="popup" data-position-to="window" data-transition="slideup" >New Route</a></li>

                        </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="btn  dropdown-toggle btn-sm" data-toggle="dropdown" href="#/friend" role="button" aria-haspopup="true" aria-expanded="false">friends<span class="caret"></span></a>
                            <ul class="dropdown-menu">                               
                                <li><a class="btn-sm" data-ajax="false" href="#/request">requests</a> </li>
                                <li><a class="btn-sm" data-ajax="false" href="#/findfriend">search</a> </li>

                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="btn  dropdown-toggle btn-sm" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">settings<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="btn-sm" href="#">profile</a> </li>
                                <li  ng-show="authenticated"><a class="btn-sm" href="" ng-click="logout()">logout</a></li>
                         </ul>
                        </li>
                     </ul>
                 </div>
             </div>

        </nav>
        
    </div>
     <div ng-view class="container"></div>
  

    <!-- Modal for gmaps-->
    <div class="modal fade"  id="myMapModal" ng-controller="route" role="dialog">
       <!-- map nav starts here -->
		
		<nav id="mapnavbar" ng-controller="route">
			<div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
			  <button type="button" data-dismiss="modal" data-toggle="modal" ng-disabled="disable" class="btn btn-secondary"  href="#mySaveModal">Save</button>
			     
			 
			
			  <div class="btn-group btn-group-sm" role="group">
			    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      Clear
			     <span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li><a  data-target="#myMapModal" class="btn-sm"  ng-click="deleteAll()" >all points</a> </li>
					    <li class="divider"></li>
				        <li><a  data-target="#myMapModal" class="btn-sm"  ng-click="deleteSTP()" >starting point</a> </li>
				        <li class="divider"></li>
				        <li><a  data-target="#myMapModal" class="btn-sm"  ng-click="deleteDSTP()" >destination point</a> </li>
					  </ul>
			  </div>
			</div>
		</nav>
    <!-- map nav ends here -->
        <div class="map win"  >
			<div demo-map ng-model="searchLocation" class="demo-map">
			        </div>  
        </div>
    </div>
  <!--   ######### -->
      <!-- Modal for gmaps-->
    <div class="modal fade"  id="myMapModal2" ng-controller="route" role="dialog">
    <!-- map nav ends here -->
        <div class="map win"  >
       		<div id="map-canvas4" ></div>
        </div>
    </div>
  <!--   ######### -->

    
	<!-- <script src="js/gmaps/service/gmaps.js"></script> -->
    <script src="js/gmaps/service/gmaps-popup.js"></script> 
    <script src="js/gmaps/service/mapinit.js"></script>
    <script src="js/gmaps/service/httpq.js"></script>
    <script src="js/gmaps/service/info.js"></script>
    <script src="js/gmaps/service/places.js"></script>
    <script src="js/gmaps/service/markerSer.js"></script>
    <script src="js/gmaps/service/direction.js"></script>
    <script src="js/gmaps/provider/mapProvider.js"></script>
    <script src="js/gmaps/controller/route.js"></script>
    <script src="js/controller/find.js"></script>
    <script src="js/controller/friend.js"></script>
    <script src="js/controller/request.js"></script>
    <script src="js/controller/sharedroutes.js"></script>
    <script src="js/directive/datetime.js"></script>
    <script src="js/directive/durationPicker.js"></script>
    <script src="js/directive/loadmyroute.js"></script>
    <script src="js/gmaps/directive/mrkrWatch.js"></script>
    <script src="js/gmaps/directive/gmap-thumbnail-view.js"></script>
    <script src="js/route-collapse-panel/collapse.js"></script>
</body>
<!--     <nav id="mapnavbar" ng-controller="route" >
        <ul class="pagination">
            <li><a data-dismiss="modal" data-toggle="modal"  ng-disabled="disable" href="#mySaveModal" >save</a></li>
            <li role="presentation" class="dropdown">
      			<a  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">clear<span class="caret"></span></a>
      				<ul class="dropdown-menu">
				        <li><a  data-target="#myMapModal" class="btn-sm"  href="#" ng-click="deleteAll()" >all points</a> </li>
				        <li><a  data-target="#myMapModal" class="btn-sm"  href="#" ng-click="deleteSTP()" >starting point</a> </li>
				        <li><a  data-target="#myMapModal" class="btn-sm"  href="#" ng-click="deleteDSTP()" >destination point</a> </li>
      				</ul>
   	 		</li>
     	</ul>
    </nav> -->
 
    
    
    
    
</html>
