<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->

<!--<![endif]-->
<!--<![endif]-->
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<!-- ... -->
<meta charset="	" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


 
<title th:text="#{login.title}">Sign in</title>
<!--<link href="boilerplate.css" rel="stylesheet" type="text/css">-->
<link rel="stylesheet" href="../../../resources/css/jquery.mobile-1.4.5.min.css" th:href="@{/resources/css/jquery.mobile-1.4.5.min.css}" />
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css}" />


<!-- <link href="../../../resources/css/jquery.mobile-1.4.5.min.css" th:href="@{/resources/css/jquery.mobile-1.4.5.min.css} rel="stylesheet" type="text/css"> -->
<!--<link href="Attmpt1/welcome.css" rel="stylesheet" type="text/css">-->
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<script th:src="@{http://code.jquery.com/jquery-1.11.2.min.js}"></script>
<script th:src="@{http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js}"></script>
<!-- popup for the new map adjusts size & position from here -->
<script th:src="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js}"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.7/css/jquery.dataTables.css}" />
  
<!-- DataTables -->
<script th:src="@{http://cdn.datatables.net/1.10.7/js/jquery.dataTables.js}"></script>




<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyAJIUO25e0eVzDR2ZSOfU8Bl8XVOdl3jk4}">
  </script>
 
<script th:inline="javascript">
/* save route script ends here */
 
 // <![CDATA[
function animate123(){
	
 		alert("button working");
 		$(".myclass.gmapTB").toggle();
 		$( ".myclass.mapmenu" ).toggle();
 		$(".myclass.mapmenu").width($( window ).width()/2);
 		$(".myclass.mapmenu").height(20);
 		$( ".ui-icon-delete" ).width(15);
 		$( ".ui-icon-delete" ).height(15);
 		
 	    	  /*  $(".myclass.gmapTB").animate({width: "300px"}); */
 	  
}

function toggle1(){
$(".route.mangoes").hide();
$(".friends.grape").hide();
$(".friends.oranges").show();
}
function toggle2(){
$(".friends.oranges").hide();
$(".friends.grape").hide();
$(".route.mangoes").show();
}
function toggle3(){
	$(".friends.oranges").hide();
	$(".route.mangoes").hide();
	$(".friends.grape").show();
	confFRND();
	
}

function lookforafriend(){
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	//Get
	var fname = $('#txt_name').val();

	
	if (fname!=null || fname!="") {
		var fLink = "friend/friendList/"+fname;
		$.ajax({
			type: 'GET',
			url: fLink,	
			dataType: 'json',	            
	        async: true,
	        beforeSend: function(xhr) {
            	
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader(header, token);
            },
     }).done(function(data) {
    	 var t = $('#look4afrnd').DataTable();
             if(data){
            	 t.destroy();
      
            	 lookforafrienddrawTable(data)
                 }
             $('#look4afrnd').DataTable();
             toggle1()			 
     });	
	}
	//Set $('#txt_name').val('bla'); 
	// disable page controls http://stackoverflow.com/questions/24989475/how-to-disable-a-submit-button-when-ajax-request-is-in-progress-and-enable-it-af
	
}

function lookforafrienddrawTable(data) {
	for (var i = 0; i < data.length; i++) {
		lookforafrienddrawRow(data[i])
    
    }
   
}

function lookforafrienddrawRow(rowData) {
  var row = $("<tr />");
  
    $("#look4afrnd").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
    row.append($("<td>" + rowData.id + "</td>"));
    row.append($("<td>" + rowData.firstName + "</td>"));
    row.append($("<td>" + rowData.lastName + "</td>"));
    row.append($("<td>"+"<button href='#' onClick=\"sendFriendRequest('"+ rowData.id +"');\">Add Friend</button>"+"</td>"));  
	
    
}

function frndPopup()
{

	$.ajax({
        type: "GET",
        url: "friend/friendReqLists"
 }).done(function(data) {
	   
         if(data){
       	  drawTable(data);
             }
         $( "#frndreqs" ).popup( "open" )
			 
 });
      
}
function reciveFRNDreq(){
	$.ajax({
        type: "GET",
        url: "friend/friendReqLists"
 }).done(function(data) {
	   
         if(data){
       	  drawTable(data);
             }
         });
	
}

function drawTable(data) {
    for (var i = 0; i < data.length; i++) {
        drawRow(data[i]);
    }
}


function drawRow(rowData) {
    var row = $("<tr />");
  
    $("#frndreqstbl").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
    row.append($("<td>" + rowData.operUserId + "</td>"));
    row.append($("<td>" + rowData.reqFromName + "</td>"));
    row.append($("<td>" + rowData.message + "</td>"));
    row.append($("<td>"+"<button href='#' onClick=\"FriendRequestConfirm('"+rowData.operUserId+"');\">Confirm</button>"+"</td>"));
    row.append($("<td>"+"<button href='#' onClick=\"FriendRequestDelete('"+rowData.operUserId+"');\">Delete</button>"+"</td>"));
   /*EXAMPLE  row.append($("<td>"+"<a href='#' onClick=\"showField('"+data.name+"','"+data.text+"');\">Edit</a>"+"</td>")); */
  
}

function confFRND(){
	$.ajax({
        type: "GET",
        url: "friend/getAllFriends"
 }).done(function(data) {
	   
         if(data){
        	 confFRNDdrawTable(data);
             }
         });
	
}

function confFRNDdrawTable(data) {
    for (var i = 0; i < data.length; i++) {
    	confFRNDdrawRow(data[i]);
    }
}


function confFRNDdrawRow(rowData) {
    var row = $("<tr />");
  
    $("#conffriend	").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
    row.append($("<td>" + rowData.targetUserId + "</td>"));
    row.append($("<td>" + rowData.reqFromName + "</td>"));
    
    row.append($("<td>"+"<button href='#' onClick=\"FriendRequestDelete('"+rowData.targetUserId+"');\">UnFriend</button>"+"</td>"));
   /*EXAMPLE  row.append($("<td>"+"<a href='#' onClick=\"showField('"+data.name+"','"+data.text+"');\">Edit</a>"+"</td>")); */
  
}



	var startlatmap,startlongmap,destlatmap,destlongmap,markercount=0,routeId;
	var lat_lng = new Array();
	var csrftoken=null;
	var markers = [];
	var map;
	var routename;
	
	
	var modID=0;
	function setdelID(ID,startLat,startlong,destlat,destlong){
		clearMarkers();
		 var startLatLng = new google.maps.LatLng(startLat, startlong);
		 var destLatLng = new google.maps.LatLng(destlat, destlong);
		addmarker(startLatLng);
		lat_lng.push(startLatLng);
		addmarker(destLatLng);
		lat_lng.push(destLatLng);
		drawRoute();
		modID=ID
		
	}
	
	$(document).bind("mobileinit", function(){
        $.fixedToolbars.setTouchToggleEnabled(false);
        $("body").css("font-size", 1+'em');
    });

<!-- popup for the new map adjusts size & position ends here -->
$( document ).on( "pagecreate", function() {
	
	
	$( ".myclass.otherclass" ).width($( window ).width()-20);
	$( ".myclass.otherclass" ).height($( window ).height()-20);
	$( ".myclass.mapmenu" ).hide();
	toggle2();
	//get friend request on page create 
	//reciveFRNDreq();
		//Google maps initalise here
		
	 	initialize();
		
	 	
});





function saveRoute(){
	alert(modID);
    
	var x = confirm("Are you sure you want to save?");
	  if (x){
		  
		  routename = prompt("Please enter route name", "e.g.Hospital");
		    
		    
		  var routeDTO = { id: modID, startlat: startlatmap, startlong: startlongmap, destlat: destlatmap, destlong: destlongmap, routename: routename};
			
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
			    $.ajax({
					type: 'POST',
					url: "route/save",	
					beforeSend: function(xhr){
				        xhr.setRequestHeader('CSRFToken', csrftoken);
				    },
					contentType: 'application/json;charset=utf-8',
					data: JSON.stringify(routeDTO),
					xhrFields: {
					      withCredentials: true
					   },
					 beforeSend: function(xhr) {
		                 xhr.setRequestHeader("Accept", "application/json");
		                 xhr.setRequestHeader("Content-Type", "application/json");
		                
		      
		                 xhr.setRequestHeader(header, token);  
		             },
		             success: function(data){
		            	 if (data==1){
		            		 alert("Route save successfully"); 
		            		 $( "#wp" ).popup( "close" );
		  
		            	 }
		            	 if (data==0){
		            		 alert("Route not found"); 
			           	 }
			             if(data==2){
			            	alert("Route updated successfuly");
			            	$( "#wp" ).popup( "close" );
			             }
		                    
		             }
		          });
			    			
	  
	  }
	      
	  else
	    return false;
	
	
				
		
	}
	
function deleteRoute(id){
	alert(id);
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	

	var deleteLink = "delete/"+id;
	
  
        var conBox = confirm("Are you sure ?");
        if(conBox){
	        $.ajax({
	            url: deleteLink,
	            type: 'DELETE',
	            dataType: 'json',	            
	            async: true,

	            beforeSend: function(xhr) {
	            	
	                xhr.setRequestHeader("Accept", "application/json");
	                xhr.setRequestHeader("Content-Type", "application/json");
	                xhr.setRequestHeader(header, token);
	            },
	
	            success: function(data) {
	           	   	 if (data==1){
	            		 
	            		 //$( "#newmap" ).remove();
	            		 //window.close();
	            		 alert('Route deleted successfully');
	            		 //$( "#wp" ).popup( "close" );
	            		 //$(dialog).dialog("close");
	            	 }
	            }
	        });
        } 
        else {
        	alert("not true");
  			return false;
        }
   
    
	
	
				
		
	}
function FriendRequestDelete(id){
	alert("Delete :"+id);
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	

	var deleteLink = "friend/deleteFriendRequest/"+id;
	
  
        var conBox = confirm("Are you sure ?");
        if(conBox){
	        $.ajax({
	            url: deleteLink,
	            type: 'DELETE',
	            dataType: 'json',	            
	            async: true,

	            beforeSend: function(xhr) {
	            	
	                xhr.setRequestHeader("Accept", "application/json");
	                xhr.setRequestHeader("Content-Type", "application/json");
	                xhr.setRequestHeader(header, token);
	            },
	
	            success: function(data) {
	           	   	 if (data==1){
	            		 
	            		 alert('Friend Request deleted successfully');
	            	 }
	            }
	        });
        } 
        else {
        	alert("not true");
  			return false;
        }
   
    
	

}
function FriendRequestConfirm(id){
	alert("Confirm :"+id);
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	

	var confirmFriendLink = "friend/friendAccept/"+id;
	
  
        var conBox = confirm("Are you sure ?");
        if(conBox){
	        $.ajax({
	            url: confirmFriendLink,
	            type: 'POST',
	            dataType: 'json',	            
	            async: true,

	            beforeSend: function(xhr) {
	            	
	                xhr.setRequestHeader("Accept", "application/json");
	                xhr.setRequestHeader("Content-Type", "application/json");
	                xhr.setRequestHeader(header, token);
	            },
	
	            success: function(data) {
	           	   	 if (data==1){
	            		 
	            		 alert('Friend accepted successfully');
	            	 }
	            }
	        });
        } 
        else {
        	alert("not true");
  			return false;
        }

}

function sendFriendRequest(id){
	alert(id);
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	

	var fLink = "friend/friendreq/"+id;
	
  
        var conBox = confirm("Are you sure ?");
        if(conBox){
	        $.ajax({
	            url: fLink,
	            type: 'POST',
	            dataType: 'json',	            
	            async: true,

	            beforeSend: function(xhr) {
	            	
	                xhr.setRequestHeader("Accept", "application/json");
	                xhr.setRequestHeader("Content-Type", "application/json");
	                xhr.setRequestHeader(header, token);
	            },
	
	            success: function(data) {
	            	
	           	   	 if (data==1){
	            		 
	            		 //$( "#newmap" ).remove();
	            		 //window.close();
	            		 alert('Friend request send successfully');
	            		 //$( "#wp" ).popup( "close" );
	            		 //$(dialog).dialog("close");
	            	 }else if (data==0) {
	            		 
	            		 alert('Friend request failed');
					}
	            }
	        });
        } 
        else {
        	alert("not true");
  			return false;
        }
   
    
	
	
				
		
	}


	//Reset map
	function resetMap(){
		modID=0;
		clearMarkers();
	
	}

	//Sets the map on all markers in the array.
	function setAllMap(map) {
	  for (var i = 0; i < markers.length; i++) {
	    markers[i].setMap(map);
	  }
	}
	
	
	// Removes the markers from the map, but keeps them in the array.
	function clearMarkers() {
	
	  setAllMap(null);
	}
	function route_onClick() {
		alert("sara");
		document.getElementById("routeDiv").style.display = "block";
	    document.getElementById("friendsDiv").style.display = "none";
		  
		 
	}
	function friend_onClick() {
		alert("danish");
		document.getElementById("friendsDiv").style.display = "block";
	    document.getElementById("routeDiv").style.display = "none";
		 
	}

	var map2, latlng2, options2;
        function initialize() {
        
        	 getLocation();
           
			//google.maps.event.trigger(map2, 'resize');
        }
        
        function getLocation(){
            if(navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(success, error);
            } else {
              // default location
            }
          }
        function addmarker(location) {
  		  var marker = new google.maps.Marker({
  			position: location,
  			map: map,
  		  });
  		  markers.push(marker);
		  var infowindow = new google.maps.InfoWindow({
			
			content: 'Latitude: ' + location.lat() + '<br></br>Longitude: ' + location.lng()
		  });
		  infowindow.open(map,marker);
		  google.maps.event.addListener(marker, "rightclick", function() {
			  if (confirm("Deselect " + marker.title +" and remove from Map?")){
			     marker.setMap(null);
			      window.status = "Deselected>" + marker.title + "<" ;}
			  });
			 // markersArray.push(marker);
        }
		
		function placeMarker(location,markercount) {
		  var marker = new google.maps.Marker({
			position: location,
			map: map,
		  });
		  markers.push(marker);
		  
		 
		  if(markercount==1){
			  startlatmap = location.lat();
		  	  startlongmap = location.lng();
		 }
		 if(markercount==2){
			 destlatmap = location.lat();
			 destlongmap = location.lng();
			
		}
		  var infowindow = new google.maps.InfoWindow({
			
			content: 'Latitude: ' + location.lat() + '<br></br>Longitude: ' + location.lng()
		  });
		  infowindow.open(map,marker);
		  
		}
		
		function success(position){
			 	latlng2 = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
	            options2 = { zoom: 10, center: latlng2,disableDefaultUI:true, mapTypeId: google.maps.MapTypeId.ROADMAP };
				document.getElementById("newmap").style.display="block";
	            map = new google.maps.Map(document.getElementById("newmap"), options2);
	            var centerControlDiv = document.getElementById("fbar");
	            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(centerControlDiv);
	            var centerControlDiv2 = document.getElementById("saveroute");
	            map.controls[google.maps.ControlPosition.TOP_LEFT].push(centerControlDiv2);
	            var centerControlDiv2 = document.getElementById("navbarmap");
	            map.controls[google.maps.ControlPosition.TOP_LEFT].push(centerControlDiv2);
					
	            
	            
					 google.maps.event.addListener(map, 'click', function(event) {
							
							markercount=markercount+1;
							if(markercount>2){
			
								//alert("Only two markers allowed");
								 event.preventDefault();
							}
							else
							{
								placeMarker(event.latLng,markercount);
								lat_lng.push(event.latLng);
								if(markercount==2)
									drawRoute();
							}
						  });
					 
	      }

	      function error(msg){
	    	  
	        if (msg.code == 1) {
	            //PERMISSION_DENIED 
	        } else if (msg.code == 2) {
	            //POSITION_UNAVAILABLE 
	        } else {
	        }   //TIMEOUT
	      }
	      
	    //***********ROUTING****************//
	      function drawRoute(){
	        //Initialize the Path Array
	        var path = new google.maps.MVCArray();
	 
	        //Initialize the Direction Service
	        var service = new google.maps.DirectionsService();
	 
	        //Set the Path Stroke Color
	        var poly = new google.maps.Polyline({ map: map, strokeColor: '#4986E7' });
	 
	        //Loop and Draw Path Route between the Points on MAP

	     
	        for (var i = 0; i < lat_lng.length; i++) {
	            if ((i + 1) < lat_lng.length) {
	                var src = lat_lng[i];
	                var des = lat_lng[i + 1];
	                path.push(src);
	                poly.setPath(path);
	                service.route({
	                    origin: src,
	                    destination: des,
	                    travelMode: google.maps.DirectionsTravelMode.DRIVING
	                }, function (result, status) {
	                    if (status == google.maps.DirectionsStatus.OK) {
	                        for (var i = 0, len = result.routes[0].overview_path.length; i < len; i++) {
	                            path.push(result.routes[0].overview_path[i]);
	                        }
	                    }
	                });
	            }
	        }
	     
	      
	    }
	      
	    	   // ]]>
</script>
</head>
<body > 
<!-- Main Page Starts -->

<div data-role="page" id="pageone"  >


	<!-- Main Page Header Starts -->
  <div data-role="header"  data-position="inline" data-fullscreen="true" data-tap-toggle="false" >
  	
<!--    <div data-role="controlgroup"  data-type="horizontal">
    
    <h1>Welcome **USER**</h1>
      <a href="#revealPanel2" class="ui-btn ui-btn-inline ui-mini ui-shadow ui-corner-all ui-icon-grid ui-btn-icon-left">Button 1</a>
     <a href="#frndreqs"  data-rel="popup" data-position-to="window" data-transition="slideup" class="ui-btn ui-btn-inline ui-mini ui-shadow ui-corner-all ui-icon-grid ui-btn-icon-left">FriendRequests</a>
    </div>
     <a href="#frndreqs"  data-rel="popup" data-position-to="window" data-transition="slideup" class="ui-btn ui-btn-inline ui-mini ui-shadow ui-corner-all ui-icon-grid ui-btn-icon-left">FriendRequests</a>
    --> 
        <div data-role="navbar" id="navbar">
      <ul>
        <!-- <li><a href="#" id="routeLinkId" th:href="@{/route/routeList}" th:text="#{route.routeList}" onClick="toggle2()">Route List</a></li> -->
         <li><a href="#" id="friendLinkId"  class="ui-btn-active ui-state-persist ui-btn ui-btn-inline ui-mini  ui-shadow ui-corner-all"  onClick="toggle1()">Look for a friend</a></li>
        <li><a href="#wp"  data-rel="popup" data-position-to="window" data-transition="slideup" class="ui-btn-active ui-state-persist ui-btn ui-btn-inline ui-mini ui-icon-location ui-btn-icon-left ui-shadow ui-corner-all" onclick="resetMap()">New Route</a></li>
        
        <li> <h4>Welcome **USER**</h4></li>
        
        <li> <a href="#" data-rel="popup" data-position-to="window" data-transition="slideup" class="ui-btn ui-btn-inline ui-mini ui-shadow ui-corner-all ui-icon-grid ui-btn-icon-left"  onClick="frndPopup()">FriendRequests</a></li>
      <li><a href="#revealPanel2" class="ui-btn ui-btn-inline ui-mini ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-left">Optoins</a></li>
      </ul>
    </div>
    <div data-role="navbar" id="navbar">
      <ul>
        <!-- <li><a href="#" id="routeLinkId" th:href="@{/route/routeList}" th:text="#{route.routeList}" onClick="toggle2()">Route List</a></li> -->
        <li><a href="#" id="routeLinkId"    th:text="#{route.routeList}" class="ui-btn-active ui-state-persist ui-btn ui-btn-inline ui-mini  ui-shadow ui-corner-all"  onClick="toggle2()">Route List</a></li>
        <li><a href="#"  data-rel="popup" data-position-to="window" data-transition="slideup" class="ui-btn-active ui-state-persist ui-btn ui-btn-inline ui-mini  ui-shadow ui-corner-all" onClick="toggle3()">Friends</a></li>
        <li><a href="#myPopupDialog"  data-rel="popup" data-position-to="window" data-transition="slideup" class="ui-btn-active ui-state-persist ui-btn ui-btn-inline ui-mini ui-icon-search ui-btn-icon-left ui-shadow ui-corner-all">Search</a></li>
      </ul>
    </div>


    
      
  </div>
<!-- Main Page Header Ends -->

  <div data-role="main" class="ui-content" >
	<div id="routeDiv"  class="route mangoes">
   				<table class="box-table-a">
					<!--<caption th:text="#{users.table.caption}">Site Users</caption>-->
					<thead>
						 <tr>
							<th scope="col" th:text="#{route.id.label}"></th>
							<th scope="col" th:text="#{route.routeName.label}"></th>
							<th scope="col" th:text="#{route.startLat.label}"></th>
							<th scope="col" th:text="#{rout.startLong.label}"></th>
							<th scope="col" th:text="#{route.destLat.label}"></th>
							<th scope="col" th:text="#{route.destLong.label}"></th>
							
							<th scope="col">Actions</th>
						</tr>
						
					</thead> 
					<tbody>
					 
						<tr th:each="r : ${routes}">
							<td th:text="${r.id}"></td>
							<td th:text="${r.routename}"></td>
							<td th:text="${r.startlat}"></td>
							<td th:text="${r.startlong}"></td>
							<td th:text="${r.destlat}"></td>
							<td th:text="${r.destlong}"></td>
							<!-- <td><a href="#" id="deleteLink" th:href="@{/route/delete/${r.id}.json}" onclick="deleteRoute(${r.id})" >Delete</a></td> -->
							<td><a href="#" id="deleteLink" th:value="${r.id}" th:onclick="'javascript:deleteRoute(\'' + ${r.id} + '\');'" >Delete</a></td>
							<td><a href="#wp"  data-rel="popup" data-position-to="window" data-transition="slideup" class="ui-btn-active ui-state-persist ui-btn ui-btn-inline ui-mini ui-icon-location ui-btn-icon-left ui-shadow ui-corner-all" th:onclick="'javascript:setdelID(\'' + ${r.id} + '\',\'' + ${r.startlat} + '\',\'' + ${r.startlong} + '\',\'' + ${r.destlat} + '\',\'' + ${r.destlong} + '\');'">EDIT</a></td>
						    <!-- <td>  <a href="#"  id="editLink" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-gear ui-btn-icon-notext ui-btn-left" onclick="editRoute()" >Edit</a></td>
						    <td>  <a href="#"  id="deleteLink" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-gear ui-btn-icon-notext ui-btn-left" onclick="deleteRoute()" >Delete</a></td> -->
							
						 	
							 
						</tr>
						
					</tbody>
				</table>
    	
	</div>
	
	<!-- look for a friend div -->
	<div id="friendsDiv" class="friends oranges">
				<!-- <form name="f" th:action="@{/friend/friendList}" method="post">  -->
				<ul>
					<li><input type="text" id="txt_name" name="username"/></li>
					<li><button  onClick="lookforafriend();">Search</button></li>
				</ul>
					
					
				
				<table id="look4afrnd"  class="ui-responsive table-stroke" data-role="table" data-mode="table">
					
					<thead>
						 <tr>
							<th scope="col" th:text="#{friend.id.label}"></th>
							<th scope="col" th:text="#{friend.firstname.label}"></th>
							<th scope="col" th:text="#{friend.lastname.label}"></th>
							<th scope="col"></th>
						</tr>
						
					</thead> 
					<tbody>
					 	<tr th:each="f : ${friend}">
							<td th:text="${f.id}"></td>
							<td th:text="${f.firstName}"></td>
							<td th:text="${f.lastName}"></td>
							<!-- <td><a href="#" id="friendRequestLink" th:value="${f.id}" th:onclick="'javascript:sendFriendRequest(\'' + ${f.id} + '\');'" >Friend Request</a></td> -->
							
						 	
							 
						</tr>
					 
						
					</tbody>
				</table>
	</div>
	<!-- look for a friend div ends here-->
<!-- Confirm friend list div -->
	<div id="conffriendDiv" class="friends grape">
				
					
				
				<table id="conffriend"  class="ui-responsive table-stroke" data-role="table" data-mode="table">
					
					<thead>
						 <tr>
							<th scope="col" th:text="#{friend.id.label}"></th>
							<th scope="col" th:text="#{friend.firstname.label}"></th>
							<th scope="col" th:text="#{friend.lastname.label}"></th>
							<th scope="col"></th>
						</tr>
					</thead> 
				</table>
	</div>
	<!-- Confirm friend div ends here-->
	
					
  </div>
 
	<!-- Main Page Footer Starts -->
  <div data-role="footer" style="text-align:center" data-position="fixed" data-fullscreen="true">
  <div data-role="controlgroup" data-type="horizontal">
    <a href="#" class="ui-btn ui-icon-plus ui-btn-icon-left ui-shadow ui-corner-all">Follow Us On Facebook</a>
    <a href="#" class="ui-btn ui-icon-plus ui-btn-icon-left ui-shadow ui-corner-all">Follow Us On Twitter</a>
    <a href="#" th:href="@{/logout}">Logout</a>
  </div>
 </div>
  	<!-- Main Page Footer Ends -->
	 <!-- Main Page Ends -->
    <!-- THis is popup dailog for Search -->
    <div data-role="popup" id="myPopupDialog">
    	<!-- Search Header-->
      <div data-role="header">
        <h1>Header Text</h1>
      </div>
      

      <div data-role="main" class="ui-content">
        <h2>Welcome to my Popup Dialog!</h2>
        <p>jQuery Mobile is FUN!</p>
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-icon-back ui-btn-icon-left" data-rel="back">Go Back</a>
      </div>
		<!-- Search footer-->
      <div data-role="footer" >
        <h1>Footer Text</h1>
      
      </div>
    </div>
<!-- THis is popup dailog for Search ENDS -->
<!-- THis is popup dailog for Friend Requests Starts here-->
    <div data-role="popup" id="frndreqs">
    	<!-- Search Header-->
      <div data-role="header"  data-theme="g">
        <h1>Friend Requests</h1>
      </div>
      			
      			
      			<table id="frndreqstbl"  class="ui-responsive table-stroke" data-role="table" data-mode="table" >
					
					<tbody>
					 	<tr th:each="f : ${friendReqList}">
							<td th:text="${f.operUserId}"></td>
							<td th:text="${f.reqFromName}"></td>
							<td th:text="${f.createdAt}"></td>
							<td><a href="#" id="friendDeleteLink" th:value="${f.operUserId}" th:onclick="'javascript:FriendRequestDelete(\'' + ${f.operUserId} + '\');'" >Delete</a></td>
							<td><a href="#" id="friendConfirmLink" th:value="${f.operUserId}" th:onclick="'javascript:FriendRequestConfirm(\'' + ${f.operUserId} + '\');'" >Confirm</a></td>
							
						 	
							 
						</tr>
					 
						
					</tbody>
				</table>
      

      <div data-role="main" class="ui-content">
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-icon-back ui-btn-icon-left" data-rel="back">Go Back</a>
      </div>
		<!-- Search footer-->
      <div data-role="footer" >
        <h1>Footer Text</h1>
      
      </div>
    </div>


	<!-- Ppopup dailog for Search finished here -->
    
     <!-- THis is popup dailog for Search -->
    
    	<!-- Gmap Tool Bar -->
    	<div id="fbar" class="myclass gmapTB2">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
      	</div>
      	
      	<div id="saveroute" class="myclass gmapTB" style="background: white;">
       	 <a href="#"  id="settings" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-gear ui-btn-icon-notext ui-btn-left" onclick="animate123()" >Save</a>
      	</div>
      	<div id="savemenu" class="myclass mapmenu" style="background: white;">
       	 <a href="#"  id="savert" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-gear ui-btn-icon-notext ui-btn-left" onclick="animate123()" >Save</a>
      	</div>
		 <div data-role="navbar" id="navbarmap" class="myclass mapmenu">
		  
		      <ul>
		      	<li><a href="#"  data-rel="popup" data-position-to="window" data-transition="slideup" class="ui-btn-active ui-state-persist ui-btn ui-btn-inline ui-mini ui-icon-search ui-btn-icon-left ui-shadow ui-corner-all" onclick="saveRoute()">Save</a></li>
		      	<li><a href="#"  data-rel="popup" data-position-to="window" data-transition="slideup" class="ui-btn-active ui-state-persist ui-btn ui-btn-inline ui-mini ui-icon-search ui-btn-icon-left ui-shadow ui-corner-all">Edit</a></li>
		        <li><a href="#"  data-rel="popup" data-position-to="window" data-transition="slideup" class="ui-btn-active ui-state-persist ui-btn ui-btn-inline ui-mini ui-icon-search ui-btn-icon-left ui-shadow ui-corner-all">Search</a></li>
				
		      </ul>
		      <a href="#"  id="settings" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right" onclick="animate123()" >Save</a>
		 </div>
     
    	
 
    
    <div data-role="popup" id="wp" data-position-fixed="true">

	    <div id="newmap" class="myclass otherclass" data-position-fixed="true" ></div>
	
	    <!-- <div id="over_map" data-position-fixed="true" style=" position: absolute; background-color: transparent; top: 10px; left: 10px; z-index: 99; background: white; ">Left hand stuff goes here</div> -->
	</div> 
    
    
    
    

	<!-- Ppopup dailog for Search finished here -->
    
    <!--Profile panel starts here-->
    <div data-role="panel" id="revealPanel" data-display="reveal" data-position-fixed="true" data-position="left"> 
    <h2>Reveal Panel</h2>
    <p>You can close the panel by clicking outside the panel, pressing the Esc key, by swiping, or by clicking the button below:</p>
    <a href="#pageone" data-rel="close" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">Close panel</a>
  </div> 
    <!--Profile panel Ends here-->
        <!--Options panel starts here-->
    <div data-role="panel" id="revealPanel2" data-display="reveal" data-position-fixed="true" data-position="right"> 
    <h2>Reveal Panel</h2>
    <p>You can close the panel by clicking outside the panel, pressing the Esc key, by swiping, or by clicking the button below:</p>
    <a href="#pageone" data-rel="close" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">Close panel</a>
  </div> 
    <!--Options panel Ends here-->
    

</div>
</body>
</html>